$superSteel : rgb(183, 77, 214);
$beautifulBlue : rgb(66, 185, 212);

body {
  font-family: "Arial", sans-serif;
  background: darken(white, 0.2);
  background-image: url('https://previews.123rf.com/images/matka_w/matka_w0901/matka_w090100038/4131833-cork-board-background-office-life-Stock-Photo.jpg');
  background-size: cover;
  overflow: auto;
}

.Note {
  border: 1px solid rgb(90, 92, 90);
  box-shadow: 2px 2px 8px black;
  background-color: rgb(244, 236, 180);
  padding: 10px;
  margin: 10px;

}

.titleBarContainer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.titleBarItem {
  display: flex;
  padding: 5px;
  margin: 10px;
}

#delete, #edit, #drag {
  margin: 10px;
}

// #undo {
//   box-sizing: border-box;
//   margin: 5px;
//   padding: 5px;
//   height: 30px;
//   width: 30px;
//   background-color: $beautifulBlue;
//   border: 1px solid black;
//   border-radius: 6px;
//   box-shadow: 0px 1px 0px 0px;
// }

#createNoteButton:hover {
  box-shadow: 2px 2px 8px black;
}

#editBox {
  width: 250px;
  height: 400px;
  box-shadow: 1px 1px 8px black;
}

#createNoteButton {
  background-color: $superSteel;
  color: rgb(240, 235, 235);
  box-sizing: border-box;
  box-shadow: 0px 1px 0px 0px;
  text-shadow: 1px 0px 0px;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 15px;
  height: 30px;
  width: 150px;
}

#noteTitle {
  box-sizing: border-box;
  border: 1px solid black;
  box-shadow: 1px 1px 8px black;
  border-radius: 6px;
  height: 30px;
  width: 300px;
  font-size: 15px;
  margin: 5px;
  padding: 5px;
}

.editBoxContainer {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}

.editBoxItem {
  display: flex;
  margin: 5px;
  columns: 20;
  rows: 5;

}

.contentArea {
  border: 1px solid black;
  word-break: break-all;
  min-width: 200px;
  min-height: 200px;
  margin: 10px;
  padding: 10px;
}


.noteCreationContainer {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}
